@brand_primary:                                                  #6aa2ca;
@brand_secondary:                                                lighten(@brand_primary,10%);
@brand_tertiary:                                                 lighten(@brand_secondary,10%);

@brand_accent:                                                   #f5b21a;

@brand_background:                                               #c2d9e6;

@brand_text_color:                                               #2c3e50;


// ***********************************************************************************************
// ***                                  MIX INS                                                ***
// ***********************************************************************************************

.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));

    @prefix  : extract(@prefixes, @index);
    @dir-old : 90 - (@dir);

    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}

.prevent_highlight(){
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
