<template>
  <div class="login-copywrite-footer">
      &copy; {{year}}, {{copyright}}
  </div>
</template>

<script>
export default {
  name: 'copyright',
  data () {
    return {
      copyright: 'Track It.',
      year: ''
    }
  },
  methods: {
    copyrightYear: function () {
      this.year = new Date().getYear() + 1900
    }
  },
  created: function () {
    this.copyrightYear()
  }
}

</script>
