<template>
  <div>
    <div class="logo-container">
      <span class="it">IT</span>
      <span class="t">t</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'logo',
  data () {
    return {

    }
  },
  props: {

  }
}
</script>

<style lang="less-loader" scoped>
@import '../../../common/less/trackit.less';

.t{
  font-size:72px;
  color: @brand_primary;
  position:relative;
}

.it{
  font-size:30px;
  color:@brand_accent;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: absolute;
  left: 25px;
  top: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo-container{
  position: relative;
  padding:10px;
  .prevent_highlight;
}

</style>
