<template>
  <div>
    <div class="ui container">
        <div class="ui two column centered grid ">
          <div class="column">
            <div class="ui blue segment">

              <div class="row">
                <Logo></Logo>
              </div>

              <div class="ui grid">

                <div class="row">
                  <div class="four wide column input-label">
                      <label>Username</label>
                  </div>

                  <div class="twelve wide column">
                    <div class="ui large icon input fluid">
                      <input type="text" v-model="username" placeholder="user name">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="four wide column input-label">
                      <label>Password</label>
                  </div>

                  <div class="twelve wide column">
                    <div class="ui large icon input fluid">
                      <input type="text" v-model="password" placeholder="user name">
                    </div>
                  </div>

                </div>

              </div>

            </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Logo from '../common/logo'

export default {
  name: 'login',
  data () {
    return {
      msg: 'something',
      username: null,
      password: null
    }
  },
  methods: {
    getMessage () {
      this.$http.get('https://api.myjson.com/bins/19lsn9').then((response) => {
        this.msg = response.data.msg
      }, (response) => {
        console.log('error occured')
      })
    }
  },
  created: function () {
    this.getMessage()
  },
  components: {
    Logo
  }
}
</script>

<style lang="less-loader">
@import '../../../common/less/trackit.less';

.input-label{
  display: inline-flex;
  padding-top:12px;
  font-weight:bold;
}

</style>
