<template>
  <div id="app">
    <Login v-if="!isLoggedIn"></Login>
    <router-view v-else></router-view>
    <Copyright></Copyright>
  </div>
</template>

<script>
import Login from 'components/login/login'
import Copyright from 'components/common/copyright'

export default {
  name: 'app',
  data () {
    return {
      isLoggedIn: false
    }
  },
  methods: {

  },
  components: {
    Login,
    Copyright
  }
}
</script>

<style src="../common/font-awesome-4.7.0/css/font-awesome.min.css"></style>
<style src="semantic-ui-css/semantic.css"></style>

<style lang="less-loader">
@import "../common/less/trackit.less";

body{
background-color: @brand_background;

}

#app {
  color: @brand_text_color;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

</style>
